/* Style untuk sidebar */
.sidebar {
	background-color: #f8f9fa;
	padding-top: 20px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	z-index: 1000;
}

/* Style untuk main content */
.main-content {
	margin-left: 250px;
	padding: 20px;
}

/* Sidebar Toggle untuk mobile */
@media (max-width: 768px) {
	.sidebar {
		position: absolute;
		left: -250px;
		width: 250px;
		transition: left 0.3s ease;
	}

	.sidebar.active {
		left: 0;
	}

	.main-content {
		margin-left: 0;
	}
}

/* Style untuk tombol menu pada mobile */
#menu-toggle {
	display: none;
}

/* Menampilkan tombol menu pada layar kecil */
@media (max-width: 768px) {
	#menu-toggle {
		display: block;
		background-color: #007bff;
		color: white;
		padding: 10px;
		border: none;
		cursor: pointer;
	}
}
